/*
- Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- weights: 400, 500, 700

*/

:root {
  --clr-primary--light-red-cta-text: hsl(356, 100%, 66%);
  --clr-primary--very-light-red-cta-hover-bg: hsl(355, 100%, 74%);
  --clr-primary--very-dark-blue-headings: hsl(208, 49%, 24%);

  --clr-neutral--white-text: hsl(0, 0%, 100%);
  --clr-neutral--grayish-blue-footer-text: hsl(240, 2%, 79%);
  --clr-neutral--very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --clr-neutral--very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);

  --gradient-clr-intro-1: hsl(13, 100%, 72%);
  --gradient-clr-intro-2: hsl(353, 100%, 62%);

  --gradient-clr-body-1: hsl(237, 17%, 21%);
  --gradient-clr-body-2: hsl(237, 23%, 32%);

  --bg-gradient-intro: linear-gradient(to right,
      var(--gradient-clr-intro-1),
      var(--gradient-clr-intro-2));

  --bg-gradient-body: linear-gradient(to right,
      var(--gradient-clr-body-1),
      var(--gradient-clr-body-2));

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fz-default: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2,
h3 {
  color: var(--clr-primary--very-dark-blue-headings);
}

p {
  line-height: 1.5;
}

.features {
  margin-block: 5em;
}

button {
  font-weight: var(--fw-bold);
  padding: 1em 1.5em;
  border-radius: 100vmax;
  transition: all .3s ease;
  border: none;
  background-color: var(--clr-neutral--white-text);
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: var(--fz-default);
  height: 100%;
  text-align: center;
}

header {
  min-height: 80vh;
  background-color: var(--gradient-clr-intro-1);
  background-image: url(../images/bg-pattern-intro-mobile.svg);
  background-size: 250%;
  background-position: center 20%;
  border-bottom-left-radius: 12%;
}

.container {
  width: min(100rem, 95%);
  margin-inline: auto;
}

.wrapper {
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: space-between;
}

.mobile-wrapper {
  display: flex;
  align-items: center;
}

header .container {
  min-height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-wrapper,
.close {
  display: none;
}


.btn.btn--login {
  border: none;
  color: var(--clr-neutral--white-text);
  background-color: transparent;
}

.btn.btn--signup:is(:hover, :focus),
.btn--start:is(:hover, :focus) {
  color: var(--clr-neutral--white-text);
  border: 1px solid transparent;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.btn.btn--signup {
  color: var(--clr-primary--light-red-cta-text);
  padding: .85em 2.25em;
}

.nav-sublist {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.rotate {
  transform: rotate(180deg);
}

.hero {
  color: var(--clr-neutral--white-text);
}

.hero__title {
  margin-block-end: .25em;
  font-size: clamp(1.5rem, 10vw, 5rem);
}

.hero__accent {
  display: block;
}

.hero__description {
  margin-block: 1em;
}

.btn {
  font-weight: var(--fw-bold);
  border: 1px solid var(--clr-neutral--white-text);
}

.btn:is(:hover, :focus) {
  cursor: pointer;
}

.btn--start {
  color: var(--clr-primary--light-red-cta-text);
}

.btn--learn-more {
  margin-inline-start: 1em;
  color: var(--clr-neutral--white-text);
  background-color: transparent;
}

.btn--learn-more:is(:hover, :focus) {
  color: var(--clr-primary--light-red-cta-text);
  background-color: var(--clr-neutral--white-text);
}

.feature-section-1__title {
  margin-block: 2em;
}

.feature-section-1__subtitle {
  margin-block: 2em 1em;
}

.feature-section-2 {
  margin-block: 50% 30%;
  padding-block: 8em;
  background: var(--gradient-clr-body-1) url(../images/bg-pattern-circles.svg) no-repeat;
  background-position: center -80%;
  background-size: contain;
  border-radius: 0 10vmax 0 10vmax;
  color: var(--clr-neutral--white-text);
}

.feature-section-2__img {
  margin-block-start: -80%;
}

.feature-section-2__title {
  color: var(--clr-neutral--white-text);
  margin-block: 1em .5em;
  font-size: clamp(2rem, 10vw, 3.5rem);
}

.mini-content {
  margin-block: 2em;
}

.feature-section-3__title {
  margin-block-end: 1em;
}

.footer {
  padding-block: 15%;
  border-top-right-radius: 10vmax;
  background-color: var(--clr-neutral--very-dark-black-blue-footer-bg);
}

.footer__nav-list-item {
  margin-block: 2em;
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
}

.footer__nav-list-item:nth-child(3) {
  margin-block-end: 0;
}

.footer__nav-list-item>a {
  margin-block-end: 2em;
  display: block;
}

.footer__nav-list-item a {
  transition: all .3s ease;
  color: var(--clr-neutral--white-text);
}

.footer__nav-list-item a:is(:hover, :focus) {
  text-decoration: underline;
}

.footer__nav-sublist {
  font-size: 1.6rem;
  font-weight: var(--fw-normal);
}

.footer__sublist-item {
  margin-block: 1em;
  opacity: 0.8;
}

@media (min-width: 40em) {

  header {
    min-height: 80vh;
    background-color: var(--gradient-clr-intro-1);
    background-image: url(../images/bg-pattern-intro-desktop.svg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 12%;
  }

  .btn-group {
    display: block;
  }

  .mobile-wrapper {
    display: flex;
  }

  .hamburger,
  .close,
  .dark,
  .mobile {
    display: none;
  }

  .hero {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__accent {
    display: inline;
  }

  nav {
    display: flex;
    margin-inline: 5em auto;
  }

  .nav-list {
    display: flex;
  }

  .nav-list__item {
    position: relative;
    margin-inline-start: 2em;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-neutral--white-text);
  }

  .nav-link span {
    margin-inline-start: .25em;
    display: block;
  }

  .nav-link:is(:hover, :focus) {
    transition: all .3s ease;
    text-decoration: underline;
  }

  .nav-sublist {
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 1em;
    border-radius: .5em;
    text-align: left;
    padding: 1em 1.75em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--clr-neutral--white-text);
  }

  .show {
    display: flex;
  }

  .nav-sublist a {
    display: block;
    padding-block: .25em;
    transition: all .3s ease;
    font-weight: var(--fw-medium);
    color: var(--clr-primary--very-dark-blue-headings);
  }

  .nav-sublist a:is(:hover, :focus) {
    font-weight: bold;
  }

  .nav-list__item:nth-child(1) .nav-sublist {
    inset-inline-start: -150%;
  }

  .nav-list__item:nth-child(2) .nav-sublist {
    inset-inline-end: -35%;
  }

  .nav-list__item:nth-child(3) .nav-sublist {
    inset-inline-start: -25%;
  }

  .feature-section-1 {
    min-height: 100vh;
    background: url(../images/illustration-editor-desktop.svg) no-repeat;
    background-size: contain;
    background-position: 120% center;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .feature-section-1__title {
    margin-block-start: -15%;
    text-align: center;
  }

  .feature-section-1 .content {
    display: flex;
    flex-direction: column;
    width: 50%;
  }


  .feature-section-2 {
    position: relative;
    margin-block: 0;
    min-height: 50vh;
    padding-block: 0;
    display: flex;
    border-radius: 0 5vmax 0 5vmax;
    align-items: center;
    background-position: left bottom;
    background-size: 50%;
  }

  .feature-section-2 .content {
    display: flex;
    width: 55%;
    text-align: left;
    margin-inline-start: auto;
    align-items: center;
    padding-inline-start: 5em;
  }

  .feature-section-2__img {
    margin-block-start: 0;
    position: absolute;
    inset-inline-start: 7%;
  }

  .feature-section-3 {
    min-height: 100vh;
    background: url(../images/illustration-laptop-desktop.svg) no-repeat;
    background-size: contain;
    background-position: -40% center;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .mini-wrapper {
    width: 50%;
    margin-inline-start: auto;
  }

  .footer {
    padding-block: 4%;
  }

  .nav-wrapper {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
  }

  .footer__nav,
  .footer__nav-list {
    width: 100%;
  }

  .footer__nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 40em) {

  .mobile-wrapper {
    width: 100%;
    position: absolute;
    inset-block-start: 15%;
    width: 95%;
    background-color: var(--clr-neutral--white-text);
    flex-direction: column;
    align-items: stretch;
    min-height: 70vh;
    font-size: 2.5rem;
    padding-block: 2rem;
    border-radius: .75rem;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  }

  .nav-list__item {
    margin-block: 1rem;
  }

  .nav-list__item a {
    color: var(--clr-neutral--very-dark-black-blue-footer-bg);
  }

  .nav-sublist.show {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-neutral--grayish-blue-footer-text);
    width: 95%;
  }

  .nav-sublist.show li a {
    display: block;
    color: var(--clr-neutral--very-dark-grayish-blue-body-copy);
    margin-block: 1rem;
  }

  .light {
    display: none;
  }

  .btn-group {
    margin-block-start: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn.btn--login,
  .btn.btn--signup {
    margin-block: 0;
    border: 1px solid #000;
    font-size: 2.5rem;
  }

  .btn.btn--login {
    border: none;
    color: var(--clr-neutral--very-dark-black-blue-footer-bg);
    background-color: transparent;
  }

  .btn.btn--signup {
    border: none;
    color: var(--clr-neutral--white-text);
    background: var(--bg-gradient-intro);
  }
}